article.feature-quizz 
  .feature-quizz-img 
    img(srcset="./assets/img/feature-quizz-img.png 2x", alt="")
  .feature-quizz-content 
    h3.feature-quizz-heading 
      span Assessments, 
      br
      span.primary-color Quizzes
      span , Tests
    p.feature-quizz-text Easily launch live assignments, quizzes, and tests. Student results are automatically entered in the online gradebook.