article.feature-tool
  .feature-tool-content 
    h3.feature-tool-heading 
      span.primary-color Tools 
      span  For Teachers And Learners
    p.feature-tool-text Class has a dynamic set of teaching tools built to be deployed and used during class. Teachers can handout assignments in real-time for students to complete and submit.
  .feature-tool-img 
    img(srcset="./assets/img/feature-tool-img.png 2x", alt="")
