article.feature-management 
  .feature-management-content 
    h3.feature-management-heading 
      span.primary-color Class Management
      span  Tools for Educators
    p.feature-management-text Class provides tools to help run and manage the class such as Class Roster, Attendance, and more. With the Gradebook, teachers can review and grade tests and quizzes in real-time.
  .feature-management-img 
    img(srcset="./assets/img/feature-management-img.png 2x", alt="")

