article.feature-ui
  .feature-ui-img 
    .feature-ui-circle 
    .feature-ui-circle 
    .feature-ui-circle 
    .feature-ui-circle 
    img(src="./assets/img/feature-ui-img.svg", alt="")
  .feature-ui-content
    h3.feature-ui-heading 
      span A 
      span.primary-color  user interface 
      span designed for the classroom
    ul.feature-ui-text 
      +featureUIItem("./assets/img/feature-ui-1.svg","Teachers don’t get lost in the grid view and have a dedicated Podium space.")
      +featureUIItem("./assets/img/feature-ui-2.svg","TA’s and presenters can be moved to the front of the class.")
      +featureUIItem("./assets/img/feature-ui-3.svg","Teachers can easily see all students and class data at one time.")
