article.feature-discuss
  .feature-discuss-img 
    img(srcset="./assets/img/feature-discuss-img.png 2x", alt="")
  .feature-discuss-content 
    h3.feature-discuss-heading 
      span.primary-color One-on-One
      span  Discussions
    p.feature-discuss-text Teachers and teacher assistants can talk with students privately without leaving the Zoom environment.

