.about {
  width: 100%;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  &-heading {
    @include heading(44px, 600, 1.8);
    margin-bottom: 20px;
  }
  &-text {
    @include text(24px, 400, 1.8);
    margin-bottom: calc(var(--section-spacing) / 2);
  }
  &-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 100px;
  }
  &-item {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: rgba(23, 27, 65, 0.7);
    border-radius: 20px;
    &:hover {
      background: rgba(23, 27, 65, 0.65);
      & button {
        background-color: $aqua-color;
        border: 0;
      }
    }
    & img {
      opacity: 0.6;
    }
    & > *:not(:first-child) {
      position: absolute;
    }
    &-heading {
      top: 132px;
      font-style: normal;
      font-weight: 600;
      font-size: 32px;
      line-height: 48px;
      text-align: center;
      color: #ffffff;
      text-transform: uppercase;
    }
    & a {
      bottom: 123px;
      & button {
        background: transparent;
        border: 1px solid #ffffff;
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 33px;
        text-align: center;
        color: #ffffff;
        width: 283px;
        height: 80px;
        transition: all 0.2s linear;
      }
    }
  }
}
