.feature {
  width: 100%;
  max-width: 1580px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  &-heading {
    @include heading(36px, 700, 1.8);
    margin-bottom: 20px;
  }
  &-text {
    @include text(24px, 400, 1.8);
    margin-bottom: 100px;
    text-align: center;
  }
  &-list {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: var(--section-spacing);
    @include text(22px, 400, 1.8);
    margin-bottom: calc(var(--section-spacing) - 10px);
  }
  @import "./features/feature-ui";
  @import "./features/feature-tool";
  @import "./features/feature-quizz";
  @import "./features/feature-management";
  @import "./features/feature-discuss";
}
