.header {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 55px 20px 68px;
  display: flex;
  justify-content: center;
  background: $header-background;
  overflow: hidden;
  &-container {
    width: 100%;
    max-width: 1698px;
  }
  &-auth {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 34px;
  }
  &-login,
  &-signup {
    width: 160px;
    height: 60px;
  }
  &-main {
    display: flex;
    gap: 0 60px;
    align-items: flex-start;
    margin-top: 80px;
  }
  &-content {
    padding-left: 44px;
  }
  &-heading {
    @include heading(54px, 700, 1.5);
    margin-bottom: 34px;
    max-width: 681px;
  }
  &-text {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 160%;
    color: #464646;
    margin-bottom: 52px;
    max-width: 523px;
  }
  &-action {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  &-join {
    width: 220px;
    height: 80px;
  }
  &-play {
    width: 80px;
    height: 80px;
    border-radius: 100rem;
    margin-left: 40px;
    padding: 0;
    & img {
      padding-left: 8px;
    }
  }
  &-watch {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    margin-left: 32px;
  }
}
.nav {
  --item-spacing: 80px;
  height: 90px;
  width: 100%;
  display: flex;
  justify-self: flex-start;
  align-items: center;
}
.logo {
  position: relative;
  width: 150px;
  height: 100%;
  display: flex;
  align-items: center;
  &-shape {
    position: absolute;
    left: 10px;
    transform: rotate(45deg);
    width: 60px;
    height: 60px;
    border-radius: 6px;
    background-color: $logo-shape-color;
  }
  &-text {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 32px;
    letter-spacing: 0.04em;
  }
}
.menu {
  display: flex;
  margin-left: auto;
  margin-right: var(--item-spacing);
  gap: 0 var(--item-spacing);
  &-link {
    text-transform: capitalize;
    letter-spacing: 0.02em;
    color: $header-text-color;
  }
}
