// Colors
$primary-color: #f48c06;
$logo-shape-color: #65daff;
$logo-text-color: #113c49;
$heading-color: #2f327d;
$caption-color: #525596;
$text-color: #696984;
$aqua-color: #23bdee;
$header-background: #fff2e1;
$header-text-color: #252641;

// Spacing
:root {
  --section-spacing: 160px;
}
