section.about 
  h3.about-heading 
    span What is 
    span.primary-color Skilline?
  p.about-text Skilline is a platform that allows educators to create online classes whereby they can store the course materials online; manage assignments, quizzes and exams; monitor due dates; grade results and provide students with feedback all in one place.
  .about-list 
    +aboutItem("./assets/img/about-instructor.png 2x", "for instructors", "Start a class today")
    +aboutItem("./assets/img/about-student.png 2x", "for students", "Enter access code")
