.brand 
  .brand-text Trusted by 5,000+ Companies Worldwide
  .brand-list 
    img(src="./assets/img/brand-google.svg", alt="google")
    img(src="./assets/img/brand-netflix.svg", alt="netflix")
    img(src="./assets/img/brand-airbnb.svg", alt="airbnb")
    img(src="./assets/img/brand-amazone.svg", alt="amazon")
    img(src="./assets/img/brand-facebook.svg", alt="facebook")
    img(src="./assets/img/brand-grab.svg", alt="grab")