.comparision
  .comparision-content 
    h3.comparision-heading 
      span Everything you can do in a physical classroom,
      span.primary-color  you can do with Skilline
    p.comparision-text Skilline’s school management software helps traditional and online schools manage scheduling, attendance, payments and virtual classrooms all in one secure cloud&#x2011;based system.
    a.comparision-link Learn more
  .comparision-img
    .comparision-square1.aqua-bgc 
    .comparision-square2.primary-bgc
    img(srcset="./assets/img/comparision-img.png 2x", alt="")
    