section.feature
  .feature-heading
    span Our
    span.primary-color  Features
  .feature-text This very extraordinary feature, can make learning activities more efficient
  .feature-list 
    include ./features/feature-ui
    include ./features/feature-tool
    include ./features/feature-quizz
    include ./features/feature-management
    include ./features/feature-discuss
  button.btn.btn--border.feature-btn See more features