.integration 
  .integration-img 
    img(src="./assets/img/integration-ondrive.svg", alt="")
    img(src="./assets/img/integration-dropbox.svg", alt="")
    img(src="./assets/img/integration-googledrive.svg", alt="")
    img(src="./assets/img/integration-microsoftteam.svg", alt="")
  .integration-content 
    .integration-title INTEGRATIONS
    .integration-heading 
      span 200+ educational tools and platform 
      span.primary-color  integrations
    .integration-text Schoology has every tool your classroom needs and comes pre-integrated with more than 200+ tools, student information systems (SIS), and education platforms.
    button.integration-btn.btn.btn--border See All Integrations