section.news.font-nunito
  .news-heading 
    h3.news-title Lastest News and Resources
    p.news-text See the developments that have occurred to Skillines in the world
  .news-content 
    .news-main 
      img(srcset="./assets/img/news-main.png 2x", alt="")
      .news-type.news-type.news-type--main News
      h3.news-main-heading Class adds $30 million to its balance sheet for a Zoom-friendly edtech solution
      p.news-main-desc Class, launched less than a year ago by Blackboard co-founder Michael Chasen, integrates exclusively...Class, launched less than a year ago by Blackboard co-founder Michael Chasen, integrates exclusively...
      a.news-main-link Read more
    .news-list
      +newsItem("PRESS RELEASE", "./assets/img/news-side1.png 2x", "Class Technologies Inc. Closes $30 Million Series A Financing to Meet High Demand", "Class Technologies Inc., the company that created Class,...")
      +newsItem("NEWS", "./assets/img/news-side2.png 2x", "Zoom’s earliest investors are betting millions on a better Zoom for schools", "Zoom was never created to be a consumer product. Nonetheless, the...")
      +newsItem("NEWS", "./assets/img/news-side3.png 2x", "Former Blackboard CEO Raises $16M to Bring LMS Features to Zoom Classrooms", "This year, investors have reaped big financial returns from betting on Zoom...")