section.service
  h3.service-heading
    span All-In-One
    span.primary-color Cloud Software.
  p.service-text Skilline is one powerful online software suite that combines all the tools needed to run a successful school or office.
  .service-list 
    +serviceItem("./assets/img/service-billing.svg", "Online Billing, Invoicing, & Contracts", "Simple and secure control of your organization’s financial and legal transactions. Send customized invoices and contracts")
    +serviceItem("./assets/img/service-schedule.svg", "Easy Scheduling & Attendance Tracking", "Schedule and reserve classrooms at one campus or multiple campuses. Keep detailed records of student attendance")
    +serviceItem("./assets/img/service-billing.svg", "Customer Tracking", "Automate and track emails to individuals or groups. Skilline’s built-in system helps organize your organization ")