.testimonial 
  .testimonial-content 
    .testimonial-title TESTIMONIAL
    .testimonial-heading What They Say?
    .testimonial-text 
      p Skilline has got more than 100k positive ratings from our users around the world. 
      p Some of the students and teachers were greatly helped by the Skilline.
      p Are you too? Please give your assessment
    button.testimonial-btn.btn.btn--border Write your assessment
      .testimonial-btn-circle 
        img(src="./assets/img/testimonial-arrow.svg", alt="")
  .testimonial-img 
    img(srcset="./assets/img/testimonial-img.png 2x", alt="img")
    button.btn.testimonial-img-btn 
      img(src="./assets/img/testimonial-button.svg", alt="next button")
    .testimonial-review.font-nunito
      .testimonial-review-left-bar 
      .testimonial-review-main 
        p.testimonial-review-comment "Thank you so much for your help. It's exactly what I've been looking for. You won't regret it. It really saves me time and effort. Skilline is exactly what our business has been lacking."
        .testimonial-review-footer 
          span.testimonial-review-user-name Gloria Rose
          .testimonial-review-rank 
            .testimonial-review-stars 
              img(src="./assets/img/testimonial-star.svg", alt="star")
              img(src="./assets/img/testimonial-star.svg", alt="star")
              img(src="./assets/img/testimonial-star.svg", alt="star")
              img(src="./assets/img/testimonial-star.svg", alt="star")
              img(src="./assets/img/testimonial-star.svg", alt="star")
            .testimonial-review-desc 12 reviews at Yelp
            